<mat-radio-group class="side-radio-group side-radio-group-custom">

    <mat-radio-button labelPosition='before' value="" color="accent" (click)="buttonClick('crown')" matTooltip="Crown"
        matTooltipClass="tooltip-red" matTooltipPosition='left'>
    </mat-radio-button><br>

    <mat-radio-button labelPosition='before' value="" color="accent" (click)="buttonClick('third-eye')"
        matTooltip="Third-eye" matTooltipClass="tooltip-red" matTooltipPosition='left'>
    </mat-radio-button><br>

    <mat-radio-button labelPosition='before' value="" color="accent" (click)="buttonClick('throat')" matTooltip="Throat"
        matTooltipClass="tooltip-red" matTooltipPosition='left'>
    </mat-radio-button><br>

    <mat-radio-button value="" labelPosition='before' color="accent" (click)="buttonClick('heart')" matTooltip="Heart"
        matTooltipClass="tooltip-red" matTooltipPosition='left'></mat-radio-button><br>

    <mat-radio-button value="" labelPosition='before' color="accent" (click)="buttonClick('solar-plexus')"
        matTooltip="Solar-Plexus" matTooltipClass="tooltip-red" matTooltipPosition='left'></mat-radio-button> <br>

    <mat-radio-button value="" labelPosition='before' color="accent" (click)="buttonClick('sacral')" matTooltip="Sacral"
        matTooltipClass="tooltip-red" matTooltipPosition='left'></mat-radio-button><br>

    <mat-radio-button value="" labelPosition='before' color="accent" (click)="buttonClick('root')" matTooltip="Root"
        matTooltipClass="tooltip-red" matTooltipPosition='left'></mat-radio-button>

</mat-radio-group>

