<div class="full_screen">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>GO Self</mat-card-title>
            <mat-card-subtitle>Knowledge and aligment</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-lg-image src='assets/user.png' alt="User Icon">
        <mat-card-content>
            <p>This app is designed with multidimensional body experts. The aim is to help users to find best tools and practises to
            embody self and keep on the right track by using reminders and focus assist.</p>
        </mat-card-content>
        <mat-card-actions>
                        <a href="mailto:panjanwarzecha@gmail.com" mat-button>Contact DEV</a>
                        <button  routerLink="/root" routerLinkActive="active" mat-button>Ground Now</button>
        </mat-card-actions>
    </mat-card>
</div>